form(action="/admin", method="POST") 
    label Login
    input(name="login", placeholder="login", value="admin", id="login")
    label Password
    input(type="password", name="password", placeholder="password", value="123", id="password")
    input(type="submit", value="login")

script(src="js/login.js")