include header 

h1 APP SHOP
div(class='flex')
    div(class='img')
        img(src=one, alt="")
    div(class='img')     
        img(src=two, alt="")
    div(class='img')     
        img(src=three, alt="")
    div(class='img')    
        img(src=four, alt="")
